/logs/
/console_history.txt
/exceptions/
/docs/parse_log.txt
/tmp/
/.idea/
*.pdn
/docs/search_results.txt
/cover_image.png
/demo.txt
/promo_screenshot.png
/replay_1598759917.txt
/dragonruby-httpd.exe
/dragonruby-publish.exe
/dragonruby.exe
/.dragonruby